<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        footer {
            font-size: 0.8em;
            color: #999;
        }
    </style>
</head>
<body>
    <img th:src="${image}" alt="logo" style="width: 25%;">
    <center>
        <h1 th:text="'Hello ' + ${name}" style="display: block;"></h1>
        <hr>
    </center>
    <h4>Here is your task and its Status</h4>
    <table border="5" align="center">
        <tr>
            <th>Task</th>
            <th>Status</th>
        </tr>
        <tr>
            <td th:text="${task}"></td>
            <td th:text="${status}"></td>
        </tr>
    </table>
    <footer>
        <table>
            <tr>
                <td>SMT pvt. Ltd.</td>
            </tr>
            <tr>
                <td>
                    <p>If any query contact Tech Lead</p>
                </td>
            </tr>
        </table>
    </footer>
</body>
</html>
